table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
}

.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: gray;
}
